<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/HomeController.css"/>
</head>
<body>
    @{
        var StringList = new List<string>
            {
                "one",
                "two",
                "three",
                "four",
                "five",
            };

            foreach (var word in StringList)
            {
                <div>
                    <p>@word</p>
                    @if (word.Length < 4)
                    {
                        <p>@word is a short word</p>
                    }
                </div>
            }

    }
    <a href="/hello">Say Hello</a>
    
</body>
</html>